name: kismetly
description: Kismetly - TR kozmik ana ekran
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.19.0
  http: ^1.2.2
  geolocator: ^10.1.0
  geocoding: ^3.0.0
  characters: ^1.3.0
  google_fonts: ^6.2.1
  # var ise kullanırız; yoksa sorun değil
  firebase_core: ^3.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
